body {
  padding: 0px;
  margin: 0px;
  background-color: antiquewhite;
}
h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
}
button {
  float: right;
  font-size: 15px;
}
img {
  padding: 20px;
}
p {
  text-align: justify;
}
